/* HA2-HACKERNEWS styles */

$color1: #2A2B2E;
$color2: #5A5A66;
$color3: #A4C2A8;
$color4: #ACEB98;
$color5: #87FF65;

$bgcolor: $color1;
$textcolor: $color2;
$linkcolor: $color3;

$headercolor: $color4;
$headerfontsize: 2em;

$buttonbordercolor: $textcolor;
$buttonbgcolor: $bgcolor;
$buttonbgcolorselected: $color5;
$buttontextcolor: $textcolor;

$scorebordercolor: $textcolor;
$scorebgcolor: $color5;

$bybordercolor: $textcolor;
$bookmarktextcolor: $color5;

 
body {
  font-family: Lato;
  background: $bgcolor;
  color: $textcolor;
}

header {
  font-size: $headerfontsize;
  color: $headercolor;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: $linkcolor;
}

.lists {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 20px;

  &>button {
    border: 1px solid $buttonbordercolor;
    background: $buttonbgcolor;
    color: $buttontextcolor;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
  }

  &>button.refresh {
    border: 0px;
  }
}

button.selected {
  background: $buttonbgcolorselected;
  color: $textcolor;
}

.li {
  animation-duration: .7s;
  animation-name: slidein;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  &>div {
    margin: 5px;
  }

  &>div.score {
    border: 1px solid $scorebordercolor;
    border-radius: 4px;
    background: $scorebgcolor;
    padding: 2px;
    font-size: .7em;
    height: 1.2em;
  }

  &>div.by {
    border: 1px solid $bybordercolor;
    border-radius: 4px;
    padding: 2px;
    font-size: .7em;
    height: 1.2em;
  }

  &>div.bookmark {
    color: $bookmarktextcolor;
    cursor: pointer;
  }
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }
}